.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.user-info {
  margin-bottom: 20px;
}

.card-image {
  background-color: #d9d9d9;
  height: 180px;
  border-radius: 20%;
  margin-top: 25px;
}

.cookieHeading {
  font-size: 25px;
  margin: 20px 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}

ion-select {
  width: 100%;
  max-width: 225px;
  margin: auto;
}

ion-button {
  text-transform: none;
}
