.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ion-title {
  font-size: 30px;
}

.user-info {
  margin-bottom: 20px;
}

.card-image {
  background-color: #d9d9d9;
  height: 180px;
  border-radius: 20%;
  margin-top: 25px;
}

.cookieHeading {
  font-size: 40px;
}

.credits {
  font-size: 50px;
  font-weight: 600;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}

ion-select {
  width: 100%;
  max-width: 225px;
  margin: auto;
  font-size: 30px;
}

ion-select-option {
  font-size: 30px;
}

ion-button {
  text-transform: none;
  font-size: 30px;
}
